@charset "UTF-8";

h1, p, div, button {
  font-family: 'Cinzel Decorative';
 }

 .ajax, .ajax button, .ajax div, .ajax ul {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: black;
   color: blanchedalmond;   
 }
 
#fundsForm, #betForm {
  display:none;
  color: black;
  font-weight: bold;
  margin-top: 2%;
}

#botHand {
  margin-top: 4%;  
}

 h1{
   font-size: 6rem;
 }

 p{
  font-size: 1.5rem;
}

.position {
  position: relative;
}

#sidebarWrapper {
  min-height: 100vh;
  margin-left: 0;
  transition: margin 0.25s ease-out;
}

#sidebarWrapper .sidebarHeading {
  padding: 0.875rem 1.25rem;
  font-size: 3rem;
}

#sidebarWrapper .list-group {
  width: 15rem;
}

#pageContentWrapper {  
  background-image: url("../assets/background.webp");  
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed; 
  min-width: 0;
  width: 100%;
}


.gameContainer {
  display: flex;
  flex-direction: column;  
  text-align: center;
}

#wrapper {
  overflow-x: hidden;
}

.border {
  border-right: 1px solid #dee2e6;
}

.backgroundStyle {
  background-color: black;
  color: aliceblue; 
}

.backgroundStyle a {
  text-decoration: none;
}

.pad {
  padding: 1rem;
  border-style: none;
}

.dFlex {
  display: flex;
}

.list-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
}

.hand {
    display: inline-block;
    width: 150px;
    height: 200px;
    color: black;
    font-size: 20px;
    border: 2px solid gold;    
    background-color: white;
    margin: 0 20px 20px 0;
    text-align: center;
    line-height: 150px;    
    user-select: none;
}

#playerHand {
  margin-top: 1%;

}

#cpuHand {
  margin-top: 1.5%;

}


/*@media (min-width: 768px) { Para hacer: pasar este media que hace desaparecer la barra, a que mande la barra hacia abajo (hay que hacer un media nuevo y borrar este) con el fin de jugar en celular 
  #sidebarWrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebarWrapper {
    margin-left: -15rem;
  }
} */